
.search-container{
  
    width: 220px;
    position: relative;
    top: -40px;
    right: 154px;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
    &:focus{
      border: 1px solid #28569A;
      transition: 0.35s ease;
      color: #008ABF;
      &::-webkit-input-placeholder{
        font-family: "jf-openhuninn", "cwTeXYen","Microsoft JhengHei";

        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &::-moz-placeholder {
        font-family: "jf-openhuninn", "cwTeXYen","Microsoft JhengHei";

        transition: opacity 0.45s ease; 
          opacity: 0;
       }
      &:-ms-placeholder {
        font-family: "jf-openhuninn", "cwTeXYen","Microsoft JhengHei";

       transition: opacity 0.45s ease; 
         opacity: 0;
       }    
     }
   }
  
  .search-icon{
    color: grey;
    position: absolute;
    float: right;
    width: 75px;
    height: 75px;
    top: -15px;
    right: -5px;
  }
