body {
  font-family: "jf-openhuninn-1.1";
  font-size: 20px;
  color: #959595; }

.container-fluid {
  padding: 0; }

#checkoutLeftside {
  height: 100vh; }
  #checkoutLeftside img {
    margin-left: -15px; }

#checkoutLeftSideTop {
  font-size: 20px;
  color: #959595;
  margin-left: 40px; }
  #checkoutLeftSideTop input {
    margin: 10px 0px;
    border: 0;
    border-bottom: 1px solid #959595;
    outline: none;
    height: 30px; }
  #checkoutLeftSideTop button {
    border-style: none;
    background-color: #F8C54E;
    border-radius: 20px;
    color: white;
    outline: none;
    margin: 10px 10px;
    padding: 0px 10px; }
  #checkoutLeftSideTop span {
    margin: 10px 0px; }

#checkoutLeftSideMid {
  font-size: 20px;
  color: #959595; }
  #checkoutLeftSideMid .checkoutLeftSideMidItemTop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    border-radius: 5px;
    transition: all 0.2s; }
    #checkoutLeftSideMid .checkoutLeftSideMidItemTop span {
      margin: 10px 20px; }
  #checkoutLeftSideMid .checkoutLeftSideMidItemBottom {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px; }
    #checkoutLeftSideMid .checkoutLeftSideMidItemBottom .checkoutLeftSideMidToppings {
      line-height: 20px; }
      #checkoutLeftSideMid .checkoutLeftSideMidItemBottom .checkoutLeftSideMidToppings span {
        font-size: 10px;
        box-shadow: 0px 1px 2px #959595;
        padding: 5px 10px;
        border-radius: 20px; }

.-toblue {
  background-color: rgba(178, 221, 234, 0.35); }

.checkoutScrollbar {
  height: 55vh;
  width: 100%;
  background: white;
  overflow-y: scroll;
  overflow-x: hidden; }

#style-3::-webkit-scrollbar {
  width: 10px;
  background-color: white; }

#style-3::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #DDDDDD; }

#checkoutLeftSideBottomTop {
  margin: 20px 20px 10px 0px;
  display: flex;
  justify-content: flex-end; }
  #checkoutLeftSideBottomTop div {
    margin-right: 10px;
    height: 15px;
    width: 50px;
    border-bottom: 1px solid #959595; }

#checkoutLeftSideBottomBottom {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap; }
  #checkoutLeftSideBottomBottom button {
    border-style: none;
    background-color: #F8C54E;
    border-radius: 30px;
    color: white;
    outline: none;
    margin: 20px 20px 0px 10px;
    padding: 10px 20px; }

#checkoutMain {
  height: 100vh; }
  #checkoutMain #checkoutMainTop {
    height: 55vh;
    margin-top: 5vh; }
    #checkoutMain #checkoutMainTop button {
      border: 2px solid #B2DDEA;
      border-radius: 30px;
      background-color: #fff;
      color: #B2DDEA;
      outline: none;
      padding: 2.5px 10px;
      margin-top: 20px;
      margin-left: 10px;
      transform: translateX(140px); }
  #checkoutMain #checkoutMainBottom {
    height: 35vh; }
  #checkoutMain .checkoutBigLetter {
    width: 350px;
    display: inline-block;
    flex-direction: column; }
    #checkoutMain .checkoutBigLetter div {
      font-size: 35px;
      display: flex;
      justify-content: space-between;
      margin: 10px 0px 10px 0px; }
  #checkoutMain .checkoutThreeLineText {
    transform: translateY(15px);
    width: 300px;
    display: inline-block;
    flex-direction: column; }
    #checkoutMain .checkoutThreeLineText div {
      display: flex;
      justify-content: space-between;
      margin: 10px 0px 10px 0px; }
  #checkoutMain #checkoutGetCash {
    width: 100px;
    border: 0;
    border-bottom: 1px solid #959595;
    outline: none;
    height: 30px; }

.checkoutMainBottomTop {
  margin-left: 100px;
  display: flex;
  justify-content: flex-start; }
  .checkoutMainBottomTop div {
    margin-left: 10px;
    height: 15px;
    width: 100px;
    border-bottom: 1px solid #959595; }

#checkoutDiscount {
  display: inline-block; }
  #checkoutDiscount div {
    width: 300px;
    display: flex;
    justify-content: space-between; }
    #checkoutDiscount div input {
      width: 100px;
      border: 0;
      border-bottom: 1px solid #959595;
      outline: none;
      height: 30px; }

#checkoutGetPoint {
  width: 100px;
  border: 0;
  border-bottom: 1px solid #959595;
  outline: none;
  height: 30px; }

#checkoutIfDiscount, #checkoutIfPoint, #checkoutIfEachCheck {
  display: none; }

.checkoutBlueLine1 {
  margin-left: 20%;
  margin-top: 55px;
  border: 5px solid #28569A;
  width: 1px;
  height: 30px;
  border-radius: 10px;
  display: inline-block;
  transform: translateY(25%);
  margin-right: 20px; }

.checkoutBlueLine2 {
  margin-left: 20%;
  margin-top: 30px;
  border: 5px solid #28569A;
  width: 1px;
  height: 53px;
  border-radius: 10px;
  display: inline-block;
  transform: translateY(25%);
  margin-right: 20px; }

.checkoutBlueLine3 {
  margin-left: 20%;
  margin-top: 30px;
  border: 5px solid #28569A;
  width: 1px;
  height: 120px;
  border-radius: 10px;
  display: inline-block;
  transform: translateY(25%);
  margin-right: 20px; }

#checkoutRightSide {
  margin-right: -30px;
  background-color: #F9F9F9;
  border-radius: 50px 0px 0px 0px;
  box-shadow: -1px -1px 3px #e6e6e6;
  height: 100vh; }
  #checkoutRightSide #checkoutRightSideTop {
    margin-top: 230px;
    text-align: center; }
    #checkoutRightSide #checkoutRightSideTop button {
      border: 2px solid #B2DDEA;
      border-radius: 30px;
      background-color: #fff;
      color: #B2DDEA;
      outline: none;
      padding: 5px 10px;
      margin-left: 10px;
      margin-right: 10px; }
    #checkoutRightSide #checkoutRightSideTop input {
      background-color: #F9F9F9;
      margin-top: 15px;
      width: 200px; }
  #checkoutRightSide #checkoutRightSideMid {
    width: 70%;
    margin: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    #checkoutRightSide #checkoutRightSideMid button {
      font-size: 35px;
      color: #959595;
      width: 90px;
      height: 90px;
      border: 0;
      border-radius: 35px;
      background-color: #fff;
      box-shadow: 0px 2px 3px #cfcfcf;
      margin: 20px 15px 0px 15px;
      outline: none; }
    #checkoutRightSide #checkoutRightSideMid button:last-child {
      width: 210px; }
  #checkoutRightSide #checkoutRightSideBottom {
    margin-top: 65%;
    text-align: center; }
    #checkoutRightSide #checkoutRightSideBottom #checkoutLastBtn {
      width: 200px;
      font-size: 40px;
      color: #fff;
      height: 90px;
      border: 0;
      border-radius: 35px;
      background-color: #FF9F4B;
      outline: none; }

body {
  font-family: "jf-openhuninn-1.1";
  font-size: 20px;
  color: #959595; }

.container-fluid {
  padding: 0; }

#orderPageLeftSide {
  height: 100vh;
  background-color: #F9F9F9; }
  #orderPageLeftSide #orderPageLeftSideTop {
    font-size: 20px;
    color: #959595;
    margin-left: 40px; }
    #orderPageLeftSide #orderPageLeftSideTop input {
      width: 50px;
      outline: none;
      background-color: #f9f9f9;
      border: 0;
      border-bottom: 1px solid gray; }
    #orderPageLeftSide #orderPageLeftSideTop span {
      margin: 10px 0px; }
    #orderPageLeftSide #orderPageLeftSideTop div {
      width: 15px;
      font-weight: bolder;
      display: inline-block;
      cursor: pointer; }
      #orderPageLeftSide #orderPageLeftSideTop div img {
        width: 100%; }
  #orderPageLeftSide #orderPageLeftSideUpLine {
    margin-top: 20px;
    margin-left: 7.5%;
    background-color: #d6d6d6;
    width: 85%;
    height: 2px; }
  #orderPageLeftSide .orderPageScrollbar {
    height: 65vh;
    width: 100%;
    background: #f9f9f9;
    overflow-y: scroll;
    overflow-x: hidden; }
  #orderPageLeftSide #style-3::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9f9; }
  #orderPageLeftSide #style-3::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #DDDDDD; }

#orderPageLeftSideMid {
  font-size: 20px;
  color: #959595; }
  #orderPageLeftSideMid .orderPageLeftSideMidItemAll {
    display: flex; }
    #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItemDelete {
      margin-left: 20px;
      margin-top: 20px; }
    #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItem {
      width: 90%; }
    #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItemTop {
      background-color: #fff;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      margin: 10px 20px;
      border-radius: 30px;
      transition: all 0.2s; }
      #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItemTop span {
        margin: 10px 20px; }
    #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItemBottom {
      display: flex;
      justify-content: space-between;
      margin: 10px 20px; }
      #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItemBottom .orderPageLeftSideMidToppings {
        line-height: 20px; }
        #orderPageLeftSideMid .orderPageLeftSideMidItemAll .orderPageLeftSideMidItemBottom .orderPageLeftSideMidToppings span {
          font-size: 10px;
          box-shadow: 0px 1px 2px #959595;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: #fff; }

#orderPageLeftSideBottom #orderPageLeftSideBottomTop {
  margin: 20px 20px 10px 0px;
  display: flex;
  justify-content: center; }
  #orderPageLeftSideBottom #orderPageLeftSideBottomTop div {
    margin-right: 15px;
    margin-left: 15px;
    height: 15px;
    width: 75px;
    border-bottom: 1px solid #959595; }

#orderPageLeftSideBottom #orderPageLeftSideBottomBottom {
  margin-top: 25px; }

#orderPageRightside {
  background-image: url("../img/bg_dots.png");
  display: flex;
  flex-direction: column; }
  #orderPageRightside #orderPageRightSideTop {
    display: flex;
    height: 10vh;
    border: 1px solid blue; }
    #orderPageRightside #orderPageRightSideTop div {
      height: 100%;
      border: 1px solid red; }
      #orderPageRightside #orderPageRightSideTop div ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center; }
        #orderPageRightside #orderPageRightSideTop div ul li {
          font-size: 25px;
          margin-right: 20px;
          border-bottom: 3px solid #E98E89;
          border-radius: 5px; }
    #orderPageRightside #orderPageRightSideTop .orderPageArrow {
      display: flex;
      justify-content: center;
      align-items: center; }
  #orderPageRightside #orderPageRightSideMid {
    display: flex;
    height: 75vh;
    border: 1px solid blue; }
    #orderPageRightside #orderPageRightSideMid div {
      height: 100%;
      border: 1px solid red; }
    #orderPageRightside #orderPageRightSideMid .orderPageArrow {
      display: flex;
      justify-content: center;
      align-items: center; }
    #orderPageRightside #orderPageRightSideMid #orderPageItemDivAll {
      width: 100%; }
    #orderPageRightside #orderPageRightSideMid .orderPageItemDiv {
      display: inline-block;
      width: 160px;
      height: 160px;
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      margin-top: 2.5%; }
      #orderPageRightside #orderPageRightSideMid .orderPageItemDiv div {
        width: 100%;
        height: 20%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); }
      #orderPageRightside #orderPageRightSideMid .orderPageItemDiv img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      #orderPageRightside #orderPageRightSideMid .orderPageItemDiv span {
        position: absolute;
        bottom: 0px;
        z-index: 1;
        color: white; }
  #orderPageRightside #orderPageRightSideBottom {
    display: flex;
    height: 15vh;
    border: 1px solid blue; }
    #orderPageRightside #orderPageRightSideBottom div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      border: 1px solid red; }
      #orderPageRightside #orderPageRightSideBottom div #orderPageRightSideBottomBtn1 {
        font-size: 25px;
        border-style: none;
        background-color: #F8C54E;
        border-radius: 50px;
        color: white;
        outline: none;
        padding: 20px 40px; }
      #orderPageRightside #orderPageRightSideBottom div #orderPageRightSideBottomBtn2 {
        font-size: 20px;
        border-style: none;
        background-color: #E98E89;
        border-radius: 50px;
        color: white;
        outline: none;
        padding: 10px 15px; }
      #orderPageRightside #orderPageRightSideBottom div #orderPageRightSideBottomBtn3 {
        font-size: 25px;
        border-style: none;
        background-color: #FE9F4B;
        border-radius: 50px;
        color: white;
        outline: none;
        padding: 20px 40px; }
