body{
    max-width: 1440px;
    font-family:"jf-openhuninn-1.1";
    font-size: 20px;
    color:#959595;
    margin: 0 auto;
}

.container-fluid{
    padding: 0;
}

#orderPageLeftSide{
    // border: 1px solid red;
    height: 100vh;
    background-color: #F9F9F9;
    // img:first-child{
    //     margin-left: -15px;
    // }
    #orderPageLeftSideTop{
        // border: 1px solid purple;
        font-size: 20px;
        color:#959595;
        margin-left: 40px;
        input{
            text-align: center;
            width: 50px;
            outline: none;
            background-color: #f9f9f9;
            border: 0;
            border-bottom:1px solid gray ;
        }
        span{
            margin: 10px 0px;
        }
        div{
            width: 15px;
            // margin-left: 15px;
            font-weight: bolder;
            // border: 1px solid gray;
            display: inline-block;  
            cursor: pointer;
            img{
                width: 100%;
            }
        }
    }


    #orderPageLeftSideUpLine{
        margin-top: 20px;
        margin-left: 7.5%;
        background-color: #d6d6d6  ;
        width: 85%;
        height: 2px;
    }

    .orderPageScrollbar{
	height: 65vh;
	width: 100%;
	background: #f9f9f9;
    overflow-y: scroll;
    overflow-x: hidden;
    }

    #style-3::-webkit-scrollbar{
        width: 10px; 
        background-color: #f9f9f9;
    }

    #style-3::-webkit-scrollbar-thumb{
    border-radius:50px;
        background-color: #DDDDDD;
    }
}

#orderPageLeftSideMid{
    font-size: 20px;
    color:#959595;
    position: relative;
    
    #orderPageLeftSideMidItemAll{
        display: flex;
        flex-direction: column;
        align-items: center;
        .orderPageLeftSideMidItem{
            width: 100%;
            .ordItemCount{
                font-size:16px;
            }
            .ordItemPr{
                font-size:22px;
            }
            .orderPageLeftSideMidItemTop.lightblue{
                transition: all 0.5s;
                background-color: rgba(178,221,234,.35);
            }
            .orderPageLeftSideMidItemTop{
                width: 85%;
                margin:10px 0px 10px 50px;
                position: relative;
                background-color: #fff;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                
                border-radius: 30px;
                // transition: all 0.2s;
                span{
                    margin: 10px 20px;
                }
                .orderPageLeftSideMidItemDelete{
                
                    position: absolute;
                    margin-left:20px;
                    margin-top: 10px;
                    // width: 50px;
                    left: -50px;
                    // background-color: blue;
                }
            }
        }

        .orderPageLeftSideMidItemBottom{
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin:10px 0px 10px 60px;
            
            .orderPageLeftSideMidToppings{
                // line-height: 30px;
                margin-top: -5px;
                span{                
                    font-size: 10px;
                    box-shadow: 0px 1px 2px #959595;
                    padding: 5px 10px;
                    border-radius: 20px;
                    background-color: #fff;
                }
            }
        }
    }
    
    #ordToppingSec{
        // border: 1px solid red;
        background-color: rgba(255,255,255,.9);
        color:#959595;
        width: 150px;
        max-height: 70vh;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        z-index: 1;
        transition: all 0.1s linear;
        overflow: auto;
        border-radius: 0px 10px 10px 0px;
        .ordFillBtn{
            display: block;
            width: 70%;
            margin-left: 15%;
            padding: 10px 0px;
            background-color:rgba(255,255,255,0);
            border: none;
            border-top: 1px solid #d4d4d4;
            // border-bottom: 1px solid #d4d4d4;
            outline: none;
        }
        .ordFillBtn:first-child{
            border-top: none;
        }
        #ordSugarAll{
            display: none;
            text-align: center;
            .ordSugarItem{
                padding: 5px;
                cursor: pointer;
                &:hover{
                    color: bisque;
                }
            }
        }
    }

}




#orderPageLeftSideBottom{
    #orderPageLeftSideBottomTop{
        margin: 20px 20px 10px 0px;
        display: flex;
        justify-content: center;
        div{
            margin-right: 15px;
            margin-left: 15px;
            height: 15px;
            width: 75px;
            border-bottom: 1px solid #959595;       
        }
        span{
            font-size:16px;
        }
    }
    #orderPageLeftSideBottomBottom{
        margin-top: 25px;
        span{
            font-size:24px;
        }
    }
}

#orderPageRightside{
    background-image: url("../assets/bg_dots.png");
    display: flex;
    flex-direction: column;
    #orderPageRightSideTop{
        display: flex;
        height: 10vh;
        // border: 1px solid blue;
        div{
            height: 100%;
            padding: 0;
            // border: 1px solid red;
            ul{
                width: 100%;
                height: 100%;
                list-style-type: none;
                display: flex;
                justify-content: flex-start;
                padding: 0;
                margin-left: 0px;
                align-items: center;
                overflow: hidden;
                
                li{
                    // width: 16.66%;
                    font-size: 25px;
                    margin-right: 70px;
                    padding: 0;
                    // margin: 5px;
                    border-bottom: 3px solid #E98E89;
                    border-radius: 5px;
                    text-align: center;
                }
                li:last-child{

                    margin-right: 0px;

                }
            }
        }
        .orderPageArrow{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                cursor: pointer;
            }
        }

    }

    #orderPageRightSideMid{
        display: flex;
        height: 75vh;
        // border: 1px solid blue;
        div{
            height: 100%;
            // border: 1px solid red;
        }
        .orderPageArrow{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                cursor: pointer;
            }
        }   
        #orderPageItemDivAll{

            width: 100%;
            

        }
            .orderPageItemDiv{
                display: inline-block;
                width: 160px;
                height: 160px;
                position: relative;
                border-radius: 20px;
                overflow: hidden;
                margin-top: 5%;
                margin-left: 22.5px;
                div{
                    width: 100%;
                    height: 20%;
                    position: absolute;
                    bottom: 0;
                    background-color: rgba(0,0,0,.5);
                    text-align: center;

                    
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit:cover;
                }
                span{   
                    z-index: 1;
                    color: white;
                    text-align: center;
                }
                
            
        }   
    }

    #orderPageRightSideBottom{
        display: flex;
        height: 15vh;
        // border: 1px solid blue;
        div{
            margin-top: -25px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            // border: 1px solid red;

            #orderPageRightSideBottomBtn1{
                font-size: 25px;
                border-style:none;
                background-color: #F8C54E;
                border-radius: 50px;
                color: white;
                outline:none;
                padding: 20px 40px;
            }

            #orderPageRightSideBottomBtn2{
                font-size: 20px;
                border-style:none;
                background-color: #E98E89;
                border-radius: 50px;
                color: white;
                outline:none;
                padding: 10px 15px;
            }

            #orderPageRightSideBottomBtn3{
                font-size: 25px;
                border-style:none;
                background-color: #FE9F4B;
                border-radius: 50px;
                color: white;
                outline:none;
                padding: 20px 40px;
            }
        }
    }
}