.tablehead {
  margin-top: 20px;
  padding: 20px;
  margin-left: 95px;
  width: 1040px; }
  .tablehead h1 {
    font-size: 35px; }

table,
td {
  border-bottom: 1px solid #cfcecd;
  border-collapse: collapse; }

tr {
  vertical-align: middle; }

table {
  margin: 30px auto auto auto;
  font-size: 20px;
  color: #494949;
  width: 952px;
  text-align: center; }

td {
  padding: 16px 10px;
  position: relative; }
  td .regUpdateCell {
    position: absolute; }
  td .regUpdateName {
    position: absolute; }
  td .regUpdateEmail {
    position: absolute; }

.failure {
  font-size: 10px;
  color: rgba(255, 0, 0, 0.6);
  position: absolute;
  top: 64px;
  left: 15px; }

.success {
  font-size: 10px;
  color: #319d8e;
  position: absolute;
  top: 64px;
  left: 15px; }

td:last-child {
  padding: 5px; }

.save {
  border: none;
  margin-bottom: 10px;
  vertical-align: sub; }

img {
  cursor: pointer; }

input,
select {
  border: 0.5px solid #bdbdbd;
  padding: 5px;
  border-radius: 8px; }

.add {
  margin-left: 55%;
  transform: translateX(-50%); }

.resScrollbar {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  height: 600px;
  width: 1100px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
  margin: 70px auto 0; }

.resOverflow {
  width: 100%;
  min-height: 600px; }

#resScrollstyle::-webkit-scrollbar {
  width: 10px; }

#resScrollstyle::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #dddddd; }
