.tablehead {
  margin-top: 20px;
  padding: 20px;
  margin-left: 95px;
  width: 1040px; }
  .tablehead h1 {
    font-size: 35px; }

table,
td {
  border-collapse: collapse; }

tr {
  vertical-align: middle; }

tr:nth-child(even) {
  background: #f3f8ff; }

tr:nth-child(odd) {
  background-color: #ffffff; }

table {
  margin: 30px auto auto auto;
  font-size: 20px;
  color: #494949;
  width: 952px;
  text-align: center; }

td {
  padding: 16px; }

.save {
  border: none;
  margin-right: 10px;
  vertical-align: sub; }

img {
  cursor: pointer; }

input,
select {
  border: 0.5px solid #bdbdbd;
  padding: 5px;
  border-radius: 8px; }

.add {
  margin-left: 50%;
  transform: translateX(-50%); }

.resScrollbar {
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  height: 600px;
  width: 1100px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 25px;
  margin: 70px auto 0; }

.resOverflow {
  min-height: 600px; }

#resScrollstyle::-webkit-scrollbar {
  width: 10px; }

#resScrollstyle::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: #dddddd; }
