.tablehead {
  margin-top: 20px;
  padding: 20px;
  margin-left: 180px;
  width: 1040px; }
  .tablehead h1 {
    font-size: 35px; }

div.c-wrapper .mainTakeAwayBar {
  width: 900px;
  height: 80px;
  position: relative;
  left: 15%;
  top: -50px;
  z-index: -1; }
  div.c-wrapper .mainTakeAwayBar::after {
    position: absolute;
    content: "";
    width: 100%;
    top: 10%;
    height: 2px;
    background: #1c5b9d; }
  div.c-wrapper .mainTakeAwayBar .mainTakeAwayOder {
    position: relative;
    margin: 0 10px;
    width: 60px;
    top: 10px;
    display: inline-block; }

div.c-wrapper .mainTable {
  position: relative;
  left: 180px;
  top: 30px;
  width: 1000px;
  height: 650px;
  box-shadow: 1px 1px 10px; }
